
<main class="bg-lightsand h-screen">
  <h1 class="font-oswald text-4xl text-moss text-center md:text-4xl pt-20 py-6 md:pt-24 md:py-0 tracking-wider">Challenges</h1>
  <div class="grid grid-cols-1 md:mx-28 md:grid-cols-5 md:mt-12">
   <% @challenge_categories.each do |challenge_category| %>

    <div class="bg-artichoke p-4 mx-4 mb-5 shadow-lg rounded ">
      <%= link_to challenge_category_challenges_path(challenge_category,@challenges) do %>
      <div class="flex flex-col">
        <div class="flex items-center justify-center ">
          <%= cl_image_tag challenge_category.photo.key ,:effect=>"colorize", width: 100, height: 100, crop: :fill if challenge_category.photo && challenge_category.photo.key %>
        </div>
        <div class="font-oswald text-moss text-2xl text-center "><%= challenge_category.name %></div>
        <div class="font-barlow text-moss text-xl text-center"><%= challenge_category.description %></div>
       <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <%# only allow admin user to create challenge category %>



  <% if policy(ChallengeCategory).create? %>
    <p>Only allow for admin user to create</p>
    <%= link_to 'create challenge category',  new_challenge_category_path  %>
  <% end %>
</main>
