<main class="bg-lightsand h-screen">

<%# Profile card - picture name and carbon emmissions saved %>
  <div class="flex flex-start pt-6 ml-8">

      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, :width=>100, :height=>100, gravity: :face, class:"object-scale-down", :gravity=>"face", :radius=>"max", :crop=>"fill" %>
      <% else %>
        <%= image_tag "noprofilepic.jpg", width: 100, height: 100, class:"object-scale-down rounded-full" %>
      <% end %>
    <p>
      <h1 class="text-moss text-3xl ml-4"> Hello <%= current_user.first_name.capitalize  %></h1>
      <%= link_to edit_user_path(@user) do %> <i class="fas fa-user-edit text-moss hover:text-lightmoss text-2xl ml-4 pt-2"></i> <% end %>
    </p>
  </div>



<h3>Your challenges:</h3>
<div>
  <% @user_challenges.each do |user_challenge| %>
    <ol>
      <%= link_to user_challenge.challenge.action, user_challenge_path(user_challenge) %>
      <% if current_user.user_challenge_records.where(user_challenge: user_challenge, date: Time.current.in_time_zone('Beijing').to_date).present? %>
        <p>DONE</p>
      <% else %>

        <%= form_with model: UserChallengeRecord.new, url: user_challenge_user_challenge_records_path(user_challenge) do |f| %>
          <%= f.hidden_field :user_challenge_id, value: user_challenge.id %>
          <%= f.hidden_field :date, value: Time.current.in_time_zone('Beijing').to_date %>
          <%= f.submit 'Complete this Challenge for today' %>
        <% end %>
      <% end %>
    </ol>
  <% end %>
</div>


<h3>Total Carbon Saved <%= @user.total_carbon_score %>g co2e </h3>
<p>your join date: <%= @user.created_at %></p>

