<main class="bg-lightsand h-screen">
<%# Profile card - picture name %>
  <div class="md:grid md:grid-cols-3 md:mx-12 md:pt-4">
    <div class="md:col-span-1">
      <div class="flex justify-center pt-20">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, :width=>200, :height=>200, gravity: :face, :gravity=>"face", class: "profile-img p-0 rounded-full" %>
        <% else %>
          <%= image_tag "noprofile.jpg", width: 200, height: 200, class:"rounded-full p-o" %>
        <% end %>
      </div>




      <%#= Link to your country  %>
      <div>
       <%= link_to 'Learn more about your country emission', location_path(@location) %>
      </div>



      <!--- Carbon emission saved-->
      <div class="flex justify-center">
        <h1 class="text-moss text-4xl ml-4 font-oswald pt-4 tracking-wider"> <%= current_user.first_name.capitalize  %> <%= current_user.last_name.capitalize %></h1>
        <%= link_to edit_user_path(@user) do %>
        <i class="fas fa-user-edit text-moss hover:text-lightmoss text-2xl ml-4 pt-6"></i>
      </div>
        <% end %>

     <div class="bg-artichoke p-6 mx-4 rounded mt-4">
      <div class="text-moss font-barlow text-2xl">
        <div class="flex flex-col text-center">
          <p class="font-bold  font-oswald  text-6xl text-center"><%= @user.total_carbon_score  %> g </p>
          <p class="mt-2 text-2xl">C02e</p>
          <p class="mt-2 text-2xl">saved since <%= @user.created_at.strftime("%Y-%m-%d") %></p>
           <%# Tracking your progress  %>
        <div class="mt-2 text-2xl" >
          <%= link_to 'View your progress',  tracking_record_path(current_user)%>
        </div>
        </div>
      </div>
    </div>

  </div>

<div class="md:col-span-2">
  <div class="bg-artichoke p-4 mx-4 rounded mt-4 font-barlow text-xl md:h-full md:mt-16 shadow-lg">
    <%#  Challenges heading %>
    <%# <div class="flex flex-row">
      <h3 class="font-oswald text-4xl text-moss mb-4 md:text-4xl md:ml-8 tracking-wide">My challenges</h3>
      <i class="fab fa-pagelines text-moss text-3xl ml-2 mt-1 md:mt-12"></i>
    </div> %>

    <%# User challenges %>
    <%# <div class="font-barlow text-moss text-3xl md:ml-8">
      <% @user_challenges.each do |user_challenge| %>
        <%# <ol> %>
          <%# <div class="flex flex-row"> %>
            <%# <%= link_to user_challenge.challenge.action, user_challenge_path(user_challenge), class:"mb-1.5" %>
              <%# <% if current_user.user_challenge_records.where(user_challenge: user_challenge, date: Time.current.in_time_zone('Beijing').to_date).present? %>
              <%# <p><i class="far fa-check-square text-moss text-3xl ml-2.5"></i></p> %>
          <%# </div> %>
              <%# <% else %>
               <%# <%= form_with model: UserChallengeRecord.new, url: user_challenge_user_challenge_records_path(user_challenge) do |f| %>
               <%# <%= f.hidden_field :user_challenge_id, value: user_challenge.id %>
               <%# <%= f.hidden_field :date, value: Time.current.in_time_zone('Beijing').to_date %>
               <%# <%= f.submit 'Complete this Challenge for today' %>
                <%# <%= f.button :submit do %>
                  <%# <i class="far fa-square text-moss text-2xl ml-2"></i> %>
                <%# <% end %>
              <%# <% end %>
           <%# <% end %>
        <%# </ol> %>
      <%# <% end %>
     <%# </div>  %>

 <!--- If/elese statement-->
<% if current_user.user_challenges.present? %>
<!--True -->
  <div class="flex flex-row">
    <h3 class="font-oswald text-4xl text-moss mb-4 md:text-4xl md:ml-8 tracking-wide">My challenges</h3>
    <i class="fab fa-pagelines text-moss text-3xl ml-2 mt-1 md:mt-12"></i>
  </div>

  <div class="font-barlow text-moss text-3xl md:ml-8">
    <% @user_challenges.each do |user_challenge| %>
        <div class="flex flex-row">
          <% if current_user.user_challenge_records.where(user_challenge: user_challenge, date: Time.current.in_time_zone('Beijing').to_date).present? %>
            <p><i class="far fa-check-square text-moss text-4xl ml-1"></i></p> <!--True -->
          <% else %>
            <%= form_with model: UserChallengeRecord.new, url: user_challenge_user_challenge_records_path(user_challenge) do |f| %>
              <%= f.hidden_field :user_challenge_id, value: user_challenge.id %>
              <%= f.hidden_field :date, value: Time.current.in_time_zone('Beijing').to_date %>
              <%# <%= f.submit 'Complete this Challenge for today' %>
              <%= f.button :submit do %>
                <i class="far fa-square text-moss text-4xl ml-1"></i>
              <% end %>
            <% end %>
           <% end %>
          <%= link_to user_challenge.challenge.action, user_challenge_path(user_challenge), class:"mb-1.5 ml-2" %>
        </div>
    <% end %>
  </div>
    <div class="flex justify-center">
      <%= link_to challenge_categories_path do %>
        <i class="fa-solid fa-plus text-lightsand text-3xl mt-2 mb-4 md:mt-12 rounded-full bg-moss p-2.5"></i>
       <% end %>
    </div>

<% else %>
    <!--False -->
    <div class="flex justify-center">
     <div class="flex flex-row">
      <h3 class="font-oswald text-4xl text-moss mb-4 md:text-4xl md:ml-8 tracking-wide">My challenges</h3>
       <%= link_to challenge_categories_path do %>
        <i class="fa-solid fa-plus text-moss text-3xl ml-2 mt-2 md:mt-12"></i>
       <% end %>
    </div>
    </div>
  <% end %>

   </div>
  </div>
  <div class="bg-lightsand" style="height: 50px"></div>
</main>
