<main class="bg-lightsand h-screen">
  <h2 class="text-center text-moss text-5xl pt-20 mb-2 font-oswald">Welcome back!</h2>
  <h4 class="text-center text-moss text-2xl my-2 font-barlow tracking-wider">Please sign in</h4>
  <div class="bg-artichoke rounded p-10 mx-8 md:mt-6 md:mx-40 pb-6" >

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, :label => "E-mail", class:"text-darkmoss text-2xl tracking-wide mb-2 font-barlow" %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",  class:"w-full p-2 bg-gray-50 text-gray-500 pl-2  mt-2 outline-none mb-4 rounded" %>
      </div>

      <div class="field">
        <%= f.label :password, :label => "Password", class:"text-darkmoss text-2xl tracking-wide mb-2 font-barlow" %><br />
        <%= f.password_field :password, autocomplete: "current-password",  class:"w-full p-2 bg-gray-50 text-gray-500 pl-2  mt-2 outline-none mb-4 rounded" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me,  class:"text-darkmoss text-xl tracking-wide mb-2 font-barlow" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in",  class:"bg-moss w-full text-2xl text-white py-2 mb-4 my-6 rounded hover:bg-darkmoss transition-colors font-barlow" %>
      </div>
    <% end %>

    <div class="text-center"><%= render "devise/shared/links" %></div>
  </div>
</main>
