<main class="bg-lightsand h-screen">
  <!---Challenge name and back button ----->
  <div class="flex flex-row justify-between">
      <div ><%= link_to challenge_categories_path do %>  <i class="fas fa-long-arrow-alt-left text-moss pt-8 text-4xl px-4 ml-2 w-16 text-3xl pt-20"></i> <% end %></div>
      <div class="font-oswald text-4xl text-center py-6 text-moss pt-20 md:pt-20"><%= @challenge_category.name.upcase %></div>
      <div class="bg-lighsand w-16"></div>
  </div>

  <!-----Loop through challenges ------>
    <% @challenges.each do |challenge| %>
      <%= link_to challenge_user_challenges_path(challenge), remote: true, method: :post do %>
        <div class="bg-artichoke rounded mx-4 p-4 mb-6 mt-4 shadow-lg flex justify-between">

            <div class="font-barlow text-2xl text-darkmoss">
              <div class="font-barlow ml-4"><%= challenge.action %></div>
              <div class="text-barlow text-xl italic ml-4">Save <%= challenge.carbon_score %> g C02e </div>
            </div>

         <div><i class="fas fa-plus text-moss mt-2 text-4xl mr-6"></i> </div>
        </div>
      <% end %>
    <% end %>


    <%#= form_with model: UserChallenge.new, url: challenge_user_challenges_path(challenge), remote: true, format: :js do |f| %>
      <%#= f.hidden_field :challenge_id, value: challenge.id %>
      <%# font awesome : add to challenges button %>
      <%#= f.submit 'Join the Challenge' %>
      <%# <div> %>
      <%#= f.button :submit do %>
      <%# </div> %>
      <%# end %>
    <%# end %>
  <% if policy(Challenge).create? %>
    <p>only for admin user</p>
    <%= link_to 'create new challenge', new_challenge_path %>
  <% end %>

</main>
