<div>

  <div class="flex flex-row justify-between">
    <div><%= link_to tips_path do %> <i class="fas fa-long-arrow-alt-left text-moss pt-8 text-4xl px-4 ml-2 w-16 text-3xl pt-20"></i> <% end %></div>
    <div class="font-oswald text-4xl text-center py-6 text-moss mt-16"> <%= @tip.name.upcase %></div>
    <div class="bg-lighsand w-16 "></div>
  </div>

  <div class ="bg-artichoke mx-4 rounded p-2 shadow-lg md:mx-32">
    <div ><%= cl_image_tag @tip.photo.key %></div>
    <div class="font-barlow text-moss my-4 text-2xl text-center px-4"> <%= @tip.description.capitalize %></div>
  </div>

  <% if @tip.challenge_category.present? %>
    <div class= "text-center my-6 w-50 bg-lightmoss p-4 text-white font-barlow text-2xl rounded mx-4 hover:bg-darkmoss hover:text-white md:mx-32 ">
      <%= link_to 'Take the challenge', challenge_category_challenges_path(@tip.challenge_category)%>
    </div>
  <% end %>

 <div class="bg-lightsand" style="height: 20px"></div>
</div>
