<div class="mt-20 md:mt-24">
  <!--- Country name and back button -->
  <div class="md:mx-32">
    <div class="flex flex-row justify-between">
      <div><%= link_to profile_path do %> <i class="fas fa-long-arrow-alt-left text-moss text-4xl ml-4 "></i> <% end %></div>
      <div class="text-center font-oswald text-moss text-5xl tracking-wider"><%= @location.country.upcase %></div>
      <div class="bg-lighsand w-16"></div>
    </div>

<<<<<<< HEAD

      <div class="flex justify-center"><%= image_tag "melt.jpg", class:"h-40" %></div>
        <!--- Total carbon emissions -->
        <div class="text-center font-barlow text-moss text-3xl tracking-wider">Total carbon emission(mt)</div>
          <div class="grid grid-cols-2 m-2 gap-2 py-2 mx-4">
            <div class="bg-artichoke  py-6 rounded text-moss font-barlow text-xl tracking-wider text-center">
              <div class="font-oswald text-3xl text-moss text-center" >2017</div>
              <div class="font-oswald text-3xl text-moss mt-5 text-center"><%= @location.emission_17 %></div>
            </div>

            <% if @location.emission_20  > @location.emission_17 %>
              <div class="bg-blush py-6 rounded text-moss font-barlow text-xl tracking-wider">
                <div class="font-oswald text-3xl text-rubyred text-center tracking-wider" >2020</div>
                <div class="font-oswald text-3xl text-rubyred mt-5 text-center"><%= @location.emission_20%> <i class="fas fa-arrow-up text-rubyred ml-2"></i></div>
              </div>
            <% else %>
              <div class="bg-artichoke  py-6 rounded text-moss font-barlow text-xl tracking-wider text-center">
                <div class="font-oswald text-3xl text-moss text-center tracking-wider" >2020</div>
                <div class="font-oswald text-3xl text-moss mt-5 text-center"><%= @location.emission_20%><i class="fas fa-arrow-down ml-0.5 text-lightmoss"></i> </div>
              </div>
            <% end %>
          </div>


      <!--- This is per capita  -->
      <div class="flex justify-center"><%= image_tag "city3.jpg", class:"h-40" %></div>
        <div class="text-center font-barlow text-moss text-3xl tracking-wider mb-2">Per capita (tons)</div>
          <div class="grid grid-cols-2 m-2 py-2 gap-2 mx-4">

            <div class="bg-artichoke  py-6 rounded text-moss font-barlow text-xl tracking-wider text-center">
              <div class="font-oswald text-3xl text-moss text-center" >2017</div>
              <div class="font-oswald text-3xl text-moss mt-5"><%= @location.per_cap_17 %></div>
=======
    <div class="flex justify-center"><%= image_tag "melt.jpg", class:"h-40" %></div>
      <!--- Total carbon emissions -->
      <div class="text-center font-barlow text-moss text-3xl tracking-wider">Total carbon emission (unit: million ton)</div>
        <div class="grid grid-cols-2 m-2 gap-2 py-2 mx-4">

          <div class="bg-artichoke  py-6 rounded text-moss font-barlow text-xl tracking-wider text-center">
            <div class="font-oswald text-3xl text-moss text-center" >2017</div>
            <div class="font-oswald text-3xl text-moss mt-5 text-center"><%= @location.emission_17.to_f.round(2) %></div>
          </div>


          <% if @location.emission_20  > @location.emission_17 %>
            <div class="bg-blush py-6 rounded text-moss font-barlow text-xl tracking-wider">
              <div class="font-oswald text-3xl text-rubyred text-center tracking-wider" >2020</div>
              <div class="font-oswald text-3xl text-rubyred mt-5 text-center"><%= @location.emission_20.to_f.round(2)%> <i class="fas fa-arrow-up text-rubyred ml-2"></i></div>
            </div>
          <% else %>
            <div class="bg-artichoke  py-6 rounded text-moss font-barlow text-xl tracking-wider text-center">
              <div class="font-oswald text-3xl text-moss text-center tracking-wider" >2020</div>
              <div class="font-oswald text-3xl text-moss mt-5 text-center"><%= @location.emission_20.to_f.round(2)%><i class="fas fa-arrow-down ml-0.5 text-lightmoss"></i> </div>
>>>>>>> 428fd4c2b1a8467d544fa5b7b220b03616e349e2
            </div>


<<<<<<< HEAD
            <% if @location.per_cap_20  > @location.per_cap_17 %>
              <div class="bg-blush py-6 rounded text-moss font-barlow text-xl tracking-wider">
                <div class="font-oswald text-3xl text-rubyred text-center tracking-wider" >2020<i class="fas fa-arrow-up text-rubyred ml-2"></i> </div>
                <div class="font-oswald text-3xl text-rubyred mt-5 text-center"><%= @location.per_cap_20 %></div>
              </div>
            <% else %>
              <div class="bg-artichoke  py-6 rounded text-moss font-barlow text-xl tracking-wider text-center">
                <div class="font-oswald text-3xl text-moss text-center tracking-wider" >2020</div>
                <div class="font-oswald text-3xl text-moss mt-5 text-center"><%= @location.per_cap_20 %><i class="fas fa-arrow-down ml-2 text-lightmoss"></i> </div>
              </div>
            <% end %>
=======
    <!--- This is per capita  -->
    <div class="flex justify-center"><%= image_tag "city3.jpg", class:"h-40" %></div>
      <div class="text-center font-barlow text-moss text-3xl tracking-wider mb-2">Per capita (unit: ton)</div>
        <div class="grid grid-cols-2 m-2 py-2 gap-2 mx-4">

          <div class="bg-artichoke  py-6 rounded text-moss font-barlow text-xl tracking-wider text-center">
            <div class="font-oswald text-3xl text-moss text-center" >2017</div>
            <div class="font-oswald text-3xl text-moss mt-5"><%= @location.per_cap_17.to_f.round(2) %></div>
>>>>>>> 428fd4c2b1a8467d544fa5b7b220b03616e349e2
          </div>
  </div>
</div>


<<<<<<< HEAD
  <div class="bg-lightsand" style="height: 20px"></div>
=======
          <% if @location.per_cap_20  > @location.per_cap_17 %>
            <div class="bg-blush py-6 rounded text-moss font-barlow text-xl tracking-wider">
              <div class="font-oswald text-3xl text-rubyred text-center tracking-wider" >2020<i class="fas fa-arrow-up text-rubyred ml-2"></i> </div>
              <div class="font-oswald text-3xl text-rubyred mt-5 text-center"><%= @location.per_cap_20.to_f.round(2) %></div>
            </div>
          <% else %>
            <div class="bg-artichoke  py-6 rounded text-moss font-barlow text-xl tracking-wider text-center">
              <div class="font-oswald text-3xl text-moss text-center tracking-wider" >2020</div>
              <div class="font-oswald text-3xl text-moss mt-5 text-center"><%= @location.per_cap_20.to_f.round(2) %><i class="fas fa-arrow-down ml-2 text-lightmoss"></i> </div>
              </div>
          <% end %>
        </div>
 <div class="bg-lightsand" style="height: 20px"></div>
>>>>>>> 428fd4c2b1a8467d544fa5b7b220b03616e349e2
</div>

<%# <div>Emission per capita in 2020<%= @location.per_cap_20 %>
<%# tons per capita</div> %>
<%# <div>Emission per capita in  2017<%= @location.per_cap_17 %>
<%# tons per capita</div> %>
<%# <div>Population in 2022 <%= @location.pop_22 %>
